.cat-container {
  margin:20px 0;
}
.cat-title {
  display: block;
  margin-bottom: 25px;
  width: 100%;
}
.cat-container .item {
  cursor: pointer;
  background: #fff;
  width: 100%;
  max-height: 160px;
  min-height: 160px;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 4px #aaa, -2px -2px 4px #aaa;
}
.cat-container .item:hover {
  transition: all .5s ease;
  box-shadow: 2px 2px 10px #aaa, -2px -2px 10px #aaa;
}
.cat-container .item hr{
  margin: 10px 0;
}
.cat-container .modal-footer {
  display: table-cell;
}
.cat-container .item-link {
    text-decoration: none;
    color:#000
}
.cat-container .modal {
  direction: rtl;
  text-align: right;
}
